@import url("https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&family=Roboto&display=swap");

:root {
  --shadow-purple: rgba(94, 54, 158, 0.75);
  --shadow-grey: rgba(192, 222, 248, 0.65);
  --bg-container: rgb(117, 110, 110);
  --header-footer: #000;
  --light-yellow: rgb(234, 245, 156);
}

body {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  font-family: "Roboto", sans-serif;
  display: flex;
  overflow-y: hidden;
  overflow-x: hidden;
  height: 100%;
  padding: 25px;
}

.container {
  min-height: 200px;
  max-width: 970px;
  border: 1px solid grey;
  padding: 20px 25px;
  border-radius: 25px;
  box-shadow: 10px 12px 13px -5px var(--shadow-purple);
  -webkit-box-shadow: 10px 12px 13px -5px var(--shadow-purple);
  -moz-box-shadow: 10px 12px 13px -5px var(--shadow-purple);
  margin: auto;
  z-index: 1;
  background-color: var(--bg-container);
}

.container h2 {
  margin-top: 0;
  color: var(--header-footer);
}

.container h1:hover,
.container h2:hover {
  color: var(--light-yellow);
}

.container .fact {
  color: var(--light-yellow);
  font-size: large;
  text-align: center;
}

.image {
  margin-top: 15px;
  width: 90%;
  border-radius: 2px;
  transition: transform 2s, left 2s;
}

.image:hover {
  transform: scale(1.05);
}


.btn:hover {
  color: rgb(94, 54, 158);
  background-color: var(--light-yellow);
  box-shadow: 1px 2px var(--shadow-purple);
  -webkit-box-shadow: 1px 2px var(--shadow-purple);
  -moz-box-shadow: 1px 2px var(--shadow-purple);
}

.btn {
  text-align: center;
  margin: 7px;
  width: 45%;
  cursor: pointer;
  font-family: "Nunito", sans-serif;
  font-size: medium;
  border: 1px solid rgb(117, 110, 110);
  border-radius: 4px;
  color: rgb(234, 245, 156);
  background-color: var(--shadow-purple);
  box-shadow: 1px 2px var(--shadow-grey);
  -webkit-box-shadow: 1px 2px var(--shadow-grey);
  -moz-box-shadow: 1px 2px var(--shadow-grey);
}

footer {
  position: absolute;
  bottom: 5px;
  width: 100%;
  text-align: center;
}

a,
small {
  font-size: small;
  color: var(--header-footer);
}


@media screen and (max-width: 600px) {
  .container,
  .btn {
    font-size: 13px;
  }
  span.icon {
    display:inline-block
  }
  span.text {
    display:none
  }
}

 @media screen and (min-width: 600px) {
  span.icon {
    display:none
  }
  span.text {
    display:inline-block
  }
}

@media screen and (min-width: 500px) {
  .container,
  .btn {
    font-size: 15px;
    text-align: center;
    display: inline;
  }
} 

@media screen and (min-width: 850px) {
  footer a,
  footer small {
    color: white;
  }
}
